img{
    width: 40%;
    float: left;
    padding-right: 1rem;
    
}
.ana{
    width : 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid blue;
    position: relative;
    margin: auto;
    display: block;
    padding-top: 2rem;
    margin-top: 2rem;

}
.ana .ana-child{

    padding-top: 0rem;
    display: inline-block;
    position: relative;
}
*
{
    margin: 0;
    padding: 0%;
}
p{
    text-align: justify;
    color:white;

}
h1{
    color: white;
  
}
body{
    background-image: url("img/pixabay-gd724678ae_640.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
